{#
* Jotter is a Grav CMS theme | https://github.com/underr-ua/grav-theme-jotter
* Copyright 2017-2019 Andrii Burkatskyi aka underr
* Licensed under MIT | https://github.com/underr-ua/grav-theme-jotter/raw/master/LICENSE
#}

{% extends 'partials/base.html.twig' %}

{% block content %}

    <main class="go-article">
        <div class="article-content">
            {{ page.content }}
        </div>
    </main>

{% endblock %}
